/* Blue */

a {color: #0085CF;}

a:hover {color: #5ca9d6;}

#header {
	border-top: 4px solid #74b2d6;	
	border-bottom: 4px solid #74b2d6;
	min-height: 80px;
	background: #74b2d6 url(../../images/headerbgblue.png);
}

#sliderbg {border-bottom: 1px solid #74b2d6;}

.calloutbg {background: #3b3b3b url(../../images/headerbgblue.png);border-bottom:1px solid #74b2d6;}
