/* Brown */

a {color: #0085CF;}

a:hover {color: #5ca9d6;}

#header {
	border-top: 4px solid #7d5c35;	
	border-bottom: 4px solid #7d5c35;
	min-height: 80px;
	background: #7d5c35 url(../../images/headerbgbrown.png);
}

#sliderbg {border-bottom: 1px solid #7d5c35;}

.calloutbg {background: #7d5c35 url(../../images/headerbgbrown.png);border-bottom:1px solid #7d5c35;}
