/* Light */

a {color: #555;}

a:hover {color: #5ca9d6;}

#header {
	border-top: 4px solid #e1e1e1;	
	border-bottom: 4px solid #e1e1e1;
	min-height: 80px;
	background: #eaeaea url(../../images/headerbg.png);
}