/* Purple */

a {color: #0085CF;}

a:hover {color: #5ca9d6;}

#header {
	border-top: 4px solid #be8ed4;	
	border-bottom: 4px solid #be8ed4;
	min-height: 80px;
	background: #be8ed4 url(../../images/headerbgpurple.png);
}

#sliderbg {border-bottom: 1px solid #be8ed4;}

.calloutbg {background: #bcb193 url(../../images/headerbgpurple.png);border-bottom:1px solid #be8ed4;}
